<div class="hero-unit">
  <h3>Posts</h3>
  <ul>
  <% for (var p in posts) { %>
    <li><a href="/posts/<%= posts[p].slug %>"><%= posts[p].title %></a></li>
  <% } %>
  </ul>
  <h3>Drafts</h3>
  <ul>
  <% for (var p in drafts) { %>
    <li><a href="/posts/<%= drafts[p].slug %>"><%= drafts[p].title %></a></li>
  <% } %>
  </ul>
</div>
