<h3> Login </h3>
<form id="login-form" action="/admin/login" method="POST">
  <input type="text" name="authorEmail" placeholder="Email" />
  <input type="password" name="authorPassword" />
  <input type="submit" value="login"/>
</form>
