/*
 *  Typography
 *
 */

body {
  margin: 108px 72px 200px 72px;
  background: #FDF6E3;
  color: #657B83;
  font-size: 16px;
  font-family: asap, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inika, serif;
  font-weight: normal;
  color: #859900;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 36px;
  line-height: 52px;
}

h3 {
  font-size: 28px;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5, h6 {
  font-size: 18px;
  line-height: 28px;
}

p {
  font-size: 18px;
  line-height: 28px;
  margin: 28px 0;
}

hr {
  background: #EEE8D5;
  height: 4px;
  margin: 28px auto;
  border: none;
  width: 60%;
}

a {
  color: #B58900;
  text-decoration: none;
}

.posts .title a {
  color: #859900;
}

a:hover {
  color: #d33682;
  text-decoration: none;
}

pre, blockquote {
  border: none;
  border-radius: 0;
  padding: 14px;
  border-left: 4px solid #eee8d5;;
  margin: 28px 0;
  background: none;
}

pre, code {
  font-family: m-1m, monospace;
  font-size: 16px;
  line-height: 28px;
  color: #839496;
}

blockquote {
  font-style: italic;
}

blockquote p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

li {
  font-size: 16px;
  line-height: 28px;
}

.posts input[type=text], .posts textarea {
  background: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  outline: none;
  width: 100%
}

.posts input[type=text]:focus {
  outline: none;
  box-shadow: none;
}

.posts input[type=text] {
  height: 52px;
  font-size: 36px;
  line-height: 52px;
  color: #859900;
  font-family: inika, serif;
}

.posts textarea {
  resize: none;
  margin-top: 28px;
  font-size: 18px;
  line-height: 28px;
  color: #657B83;
}

input[type=submit] {
  border: none;
  box-shadow: none;
}

.byline {
  font-size: 80%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/*
 * Components
 *
 */

.hidden {
  display: none !important;
}

a.btn, button.btn, input.btn {
  display: inline-block;
  padding: 14px;
  color: #EEE8D5;
  background: #2aa198;
  font-size: 16px;
  border: none;
  box-shadow: none;
}

a.btn-red, button.btn-red, input.btn-red {
  background: #dc322f;
}

a.btn-magenta, button.btn-magenta, input.btn-magenta {
  background: #d33682;
}

a.btn-blue, button.btn-blue, input.btn-blue {
  background: #268bd2;
}

a.btn-dark, button.btn-dark, input.btn-dark {
  background: #586e75;
}

a.btn-darkish, button.btn-darkish, input.btn-darkish {
  background: #657B83;
}

a.btn-blank, button.btn-blank, input.btn-blank {
  background: none;
}

a.btn-selected, a.btn-selected:hover, button.btn-selected, input.btn-selected {
  background: #859900 !important;
  color: #EEE8D5 !important;
}

a.btn-grey, button.btn-grey, input.btn-grey {
  background: #EEE8D5;
  color: #657B83;
}

a.btn-small, button.btn-small, input.btn-small {
  padding: 6px;
  font-size: 14px;
  line-height: 100%;
}

a.btn-grey:hover, button.btn-grey:hover, input.btn-grey:hover {
  color: #EEE8D5;
}

a.btn-disabled, button.btn-disabled, input.btn-disabled {
  color: #FDF6E3;
}

a.btn-disabled:hover, button.btn-disabled:hover, input.btn-disabled:hover {
  background: #EEE8D5;
  color: #FDF6E3;
  cursor: default;
}

.btn:hover {
  background: #268bd2;
}

/*
 * Layout
 *
 */

body {
  overflow-x: hidden;
}

.meta {
  background: #EEE8D5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 30px
}

.meta .btn {
  margin-right: -4px;
  padding: 8px 14px;;
}

.container {
  width: 620px;
}

.dashboards .container {
  width: 100%;
}

.form .container {
  margin: 0 auto;
}

.install label, .install input {
  display: block;
}

.install input {
  margin: 14px 0 42px 0 !important;
}

.menu {
  padding: 28px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.menu.right {
  right: 0;
  left: inherit;
}

.dashboards .menu {
  width: 100%;
  padding: 80px 28px 28px 28px;
  background: #FDF6E3;
  background: -moz-linear-gradient(top,  rgba(253,246,227,0) 0%, rgba(253,246,227,1) 25%, rgba(253,246,227,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,246,227,0)), color-stop(25%,rgba(253,246,227,1)), color-stop(100%,rgba(253,246,227,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdf6e3', endColorstr='#fdf6e3',GradientType=0 ); /* IE6-9 */
}

.menu-holder .menu {
  position: static;
  float: left;
  padding-right: 0;
}

.menu-holder .right {
  float: right;
  padding-left: 0;
  padding-right: 28px;
  padding-top: 30px;
}

.menu-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FDF6E3;
  background: -moz-linear-gradient(top,  rgba(253,246,227,0) 0%, rgba(253,246,227,1) 25%, rgba(253,246,227,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,246,227,0)), color-stop(25%,rgba(253,246,227,1)), color-stop(100%,rgba(253,246,227,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(253,246,227,0) 0%,rgba(253,246,227,1) 25%,rgba(253,246,227,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdf6e3', endColorstr='#fdf6e3',GradientType=0 ); /* IE6-9 */
}

.dashboards #welcome {
  text-align: center;
}

.dashboards #posts .btn {
  margin-left: 20px;
}

#login input[type=password], #login input[type=email],
.install input[type=password], .install input[type=text],
.dashboards input[type=text] {
  display: block;
  font-size: 18px;
  color: #657B83;
  line-height: 28px;
  border: none;
  box-shadow: none;
  width: 400px;
  margin: 28px 0;
  background: #EEE8D5;
  padding-left: 10px;
}

.dashboards input[type=text]:focus {
  outline: none;
  border: none;
}

@media (max-width: 767px) {

  body {
    margin: 20px;
    margin-top: 72px;
  }

  .container {
    margin: 0;
    width: 100%;
  }

  #login input[type=password],
  #login input[type=email],
  .install input[type=password],
  .install input[type=text],
  .dashboards input[type=text] {
    width: 100%;
    box-sizing: border-box;
  }

  .menu {
    position: static;
    margin: 0;
    padding: 20px 0 0 0;
    background: transparent;
  }

  .menu-holder {
    position: static;
  }

  .menu-holder .menu {
    float: none;
    padding: 28px;
  }

  .dashboards .menu {
    padding: 0;
    box-sizing: border-box;
  }

  .menu .btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
    text-align: left;
  }

  pre code, code, pre {
    word-break: break-word;
    -ms-word-wrap: break-word;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }

  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }

}
