<div class="controls">
  <%- contentTag('input', post.title, {type:'text', class:'span6', name:'title', placeholder: 'Post Title'}) %>
</div>
<div class="controls">
  <%- contentTag('textarea', post.markdown, {type:'text', class:'span6', name:'markdown', placeholder: "Just start typing..."}) %>
</div>
