<div class="controls">
  <%- contentTag('input', post.title, {type:'text', autofocus: true, name:'title', placeholder: 'Post Title'}) %>
</div>
<div class="controls">
  <%- contentTag('textarea', post.markdown, {type:'text', name:'markdown', placeholder: "Just start typing..."}) %>
</div>
<%- contentTag('input', post.isPublished, {type:'hidden', name:'isPublished', id:'isPublished'}) %>
<script>
$(document).ready(function(){

  // Dirty hack, but it works
  $('body').addClass('form');

  $('textarea').autosize();

  $('.state').click(function(){
    var val = $('#isPublished').val();
    if (val == 'true') {
      $('#isPublished').val('false');
    } else {
      $('#isPublished').val('true');
    }
    $('.state.btn-selected').removeClass('btn-selected');
    $(this).addClass('btn-selected');
  });

  key.sequence(['g', 'd'], function () { window.location = '/dashboard'; });
  key.sequence(['g', 'h'], function () { window.location = '/'; });
});
</script>
