<div class="hero-unit">
  <form id="settings-form" class="form-horizontal" action="/install/finish" method="POST">
    <fieldset>
      <legend>Install Scotch</legend>
      <div class="control-group">
        <label for="title" class="control-label">Blog Title</label>
        <div class="controls">
          <input type="text" class="span4" placeholder="write your blog title" name="title"/>
        </div>
      </div>
      <div class="control-group">
        <label for="content" class="control-label">Blog Description</label>
        <div class="controls">
          <textarea name="description" class="span4"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label for="authorName" class="control-label">Your Name</label>
        <div class="controls">
          <input type="text" class="span4" placeholder="enter your name" name="authorName"/>
        </div>
      </div>
      <div class="control-group">
        <label for="authorEmail">Your Email</label>
        <div class="controls">
          <input type="text" class="span4" placeholder="enter your email" name="authorEmail"/>
        </div>
      </div>
      <div class="control-group">
        <label for="authorPassword">Your Password</label>
        <div class="controls">
          <input type="password" class="span4" name="authorPassword"/>
        </div>
      </div>
      <div class="control-group">
        <label for="enableComments">Enable Comments?</label>
        <div class="controls">
          <select name="enableComments">
            <option value="true">yes</option>
            <option value="false">no</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="approveComments">Approve Comments?</label>
        <div class="controls">
          <select name="approveComments">
            <option value="true">yes</option>
            <option value="false">no</option>
          </select>
        </div>
      </div>

      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Finish"/>
      </div>
    </fieldset>
  </form>
</div>
